#banner{
    height: 100%;
    width: 100%;
}

html, body {
    width: 100%;
    height: 100%;
}

header{
    border-bottom: 3px solid  #333;
    block-size: 200px;


}
body{
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: white;
    color: rgb(45, 28, 5);
    align-items: center;
    justify-content: center;

}

footer{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color: #aaa;
    border-top: 3px solid  rgb(108, 107, 107);
}
h3{
    font-style: italic;
    font-weight: 300;
}
p{
    font-weight: 300;
    border: 30px;
}
img{
    
    justify-self: center;
}
main {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7,1fr auto);
    align-items: center;
    justify-items:auto;
}

.tittle{
    font-weight: 600;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
.name{
    font-weight: 600;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.principle-tittle-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.walmart-tittle{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.link1{
     grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
.walmart-img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;


}

.principle-description-1{
     grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}


/*Second principle*/

.principle-tittle-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.jcpenny-tittle{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.link2{
     grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.jcpenny-img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;

}

.principle-description-2{
     grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

/*Third principle*/

.principle-tittle-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.playstation-tittle{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.link3{
     grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
.playstation-img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;

}

.principle-description-3{
     grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}
