html{
    margin: 0%;
}
/*--------------------HEADER--------------------*/
body{
    font-family: 'Fraunces', serif;
    font-family: 'Karla', sans-serif;
    margin: 0%;
}
h1{

  font-size: 40px;

}
input{
  color: #2B2828;
}
header{
    height: max-content;
    background-color: #0199B4;
    display: grid;
    align-content: center;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr .5fr;
    text-align: center;
    color:  #F4F5F5;
    width: 100%;
}
#header-logo{
    align-self: flex-start;
}

.social-logo{
    margin:auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    grid-column: 3/4;
    grid-row: 1/2;

}
header a{
  text-decoration: none;
}

nav{
  grid-row: 1/2;
  grid-column: 2/3;
  transition: .4s;
  margin-top: 20px;
  text-align: center;
  align-self: center;
  justify-content: center;
}

nav ul{
  list-style-type: none;
  padding: 10px;
  margin:0;
  text-align: center;
  justify-content: center;
}

nav button{
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff
}
nav ul li{
    padding: 40px;
}
nav ul li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav ul li.active a {
  background-color: rgba(128, 204, 218,0.3);
}

nav ul li a:hover{
  background-color: #B0DD31;
  color: white;
}

nav ul{
  display: none;
}

nav ul.open {
  display: block;
}

.navButton span:nth-child(1){
  display: block;
  align-self:flex-start
}

.navButton span:nth-child(2){
  display: none;
}

.navButton.open span:nth-child(1){
  display: none;
}
.navButton.open span:nth-child(2){
  display: block;
}
/*-----------------------MAIN------------------*/
.main-index{
  display: block;
}


.action{
    background-image: url("../images/juice2.jpg");
    background-size: 100%;
    height: 650px;
    text-align: center;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;

}
.action h1{
    padding-top: 150px;
    margin: 0%;
    font-size: 70px;
    font-family: "karla", sans-serif;
    font-weight: 600;

}
.action h2{
    text-transform: none; 
    text-shadow:1px 2px #828282;

    font-size: 30px;
}
button{
    background-color: #0199B4;
    width: 20%;
    height: 8%;
    border: solid 1px #0199B4;
    font-size: 20px;
    color:  #fff;
    margin-bottom: 40px;

}
button:hover{
    background-color: #80CCDA;
    border: solid 1px #80CCDA;


}
/*-------------FOOTER-------------*/
footer{
    background-color: #0199B4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
footer a img{
    width: 30px;
}




/*-----------------FRESH PAGE------------*/
.info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

legend{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family:'Fraunces', serif;

}
.fruit-option{
  display: grid;
 grid-template-columns: 1fr 1fr 1fr;

}

* {
  box-sizing:border-box;
}
textarea {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.1);
  height:100px;
}

fieldset {
  margin: 30px;
    display: block;
    border-width: 1px;
    border-style: groove;
    border-color: none;
    border-image: initial;
}

.formContainer button{
  font-size: 12px;
   width: 8%;
  height: 3%;
}