@media only screen and (min-width: 40rem){
    nav ul{
        display: flex;
    }
    nav button{
        display: none;
    }
    nav ul#primaryNav{
        display: flex ;
        justify-content: flex-start;
    }

    .main-index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto
    }
    .action{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .fruit-truck{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .map{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .call{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .drinks-count{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #weather{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .cali-info{
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .why-organic{
        grid-column: 1/2;
        grid-row: 7/8;
    }




    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    footer .social-logo{
        display: flex;
        gap: 30px;
        grid-column: 2/3;
    }
    #email{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #phone{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #last{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #address{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}