@media only screen and (min-width: 40rem){
    nav ul{
        display: flex;
    }
    nav button{
        display: none;
    }
    nav ul#primaryNav{
        display: flex ;
        justify-content: flex-start;
    }

    .main-index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto
    }
    .action{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .fruit-truck{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .map{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .call{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .drinks-count{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #weather{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .cali-info{
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .why-organic{
        grid-column: 1/2;
        grid-row: 7/8;
    }




    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    footer .social-logo{
        display: flex;
        gap: 30px;
        grid-column: 2/3;
    }
    #email{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #phone{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #last{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #address{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}


/*------ABOUT US PAGE---------*/

.main-aboutus{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}
.main-aboutus p{
    font-size: 20px;
    padding:40px;
    margin: 16px;
}
.story{
    grid-column: 1/5;
    grid-row: 1/2;
}
.organic{
    grid-column: 1/3;
    grid-row: 2/3;
}
.san-diego{

    grid-column: 1/5;
    grid-row: 3/4;
}
.story-h1{
    grid-column: 1/5;
    grid-row: 1/2;
}
.story-p p {
    padding: 0 20px 0 20px;
    margin: 0 10px 0 20px;
}
.story-p{
    grid-column: 3/5;
    grid-row: 2/3;
}
.story-img{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 45px 0 0 40px ;

}

.san-diego-h1{
    grid-column: 1/5;
    grid-row: 5/6;
}
.san-diego-p{
    max-width:fit-content;
    grid-column: 1/3;
    grid-row: 6/7;
}
.san-diego-img{
    grid-column: 3/5;
    grid-row: 6/7;
    margin: 0 40px 40px 20px;

}

.content p{
    font-size: 18px;
    margin: 10px;;
    padding: 0%;
}