body{
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Oswald', sans-serif;
  color: rgb(0, 0, 0);
  width: 100%;
  max-width: 100%;
}
p{
  font-weight: 300;
}
html{
  margin: 0%;
  min-width: 400px;
}
h2{
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#5D3C1F;
  text-shadow: 2px 2px #e4d9d9;
}

#welcome{
  font-size: 45px;
  color:white;
  text-shadow: 2px 3px #6f6969;
}

section h3{
  text-transform: uppercase;
  color:#5D3C1F;
  text-shadow: 2px 2px #e4d9d9;
  font-size: 25px;
}

h4{
  text-align: center;
  margin-bottom: 10px;
}

header{
  display: grid;
  align-content: center;
  justify-content: space-around;
  grid-template-columns: 2fr 3fr;
  text-align: center;
  color:  #F4F5F5;
  background-color:#2B2828;
  width: 100%;
}

header a{
  text-decoration: none;
}

#tittle{
  margin-top: 30px;
  display: flex;
}

#company-name{
  display: block;
  grid-column: 1/2;
}

h1{
  color:
  #efae72;
  letter-spacing: 2px;
  font-weight:300;
  font-size: 35px;
}

#header-subtittle{
  text-transform: none;
  font-weight: 200;
  margin: 0%;
  background-size: 0%;
  font-size: 20px;
  text-shadow: none;
  color: #e4d9d9;
}

#header-logo,#footer-logo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 30px;
}

#social-logo{
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  margin-top: 30px;
}

#facebook-logo,#linkedin-logo{
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  padding: 3px;
}

.date{
  text-align: center;
  color: #2B2828;
  grid-column: 1/4;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  background-color:#E7E0DA;

}

.main-grid{
  display: grid;
  gap: 8px;
  background-color:white;
  margin: 10px;
  text-align: center;
}

button{
  width: 60%;
  height: 40px;
  border-radius: 2px;
  color: #F4F5F5;
  align-self: center;
  border: solid #5D3C1F;
  background-color:#624b37;
}

button:hover{
  color: #2B2828;
  background-color: #fdad67;
  border: solid 2px #E6994F;
}

#hero{
  background-image: url("../images/house1.jpeg");
  background-position-x: right;
  background-position-y: bottom;
  background-attachment:fixed;
  margin: 0%;
  font-style:normal;
  font-weight: 600;
  border: .3px solid #aaa;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
#hero-text{
  background-color: #F4F5F5;
}
#join-us{
  background-color: #ffffff;
  color: #2B2828;
  padding: 1%;
  grid-column: 1/3;
  padding-bottom: 10px;
}

#house-img{
  width: 100%;
  height: auto;
}

#events{
  grid-row: 2/3;
  margin: 0%;
  border: .3px solid #aaa;
  background-color: #E7E0DA;
  padding-bottom: 10px;
  padding-top: 25px;
}

#cities{
  text-align: left;
}

#weather{
  background-color: #E7E0DA;
  background-size:100%;
  grid-row: 3/4;
  margin: 0%;
  border: .3px solid #aaa;
  color: #2B2828;
}

#weather-h3{
  text-shadow: none /* 1px 1px white;*/;
  font-size: 25px;
}

#temp{
  font-weight: 900;
  margin: 30px 0px;
  font-size: 40px;
   color: #2B2828;
   text-shadow:2px 2px white;
}


#join{
  display: none;
  margin: 0%;
  border: .3px solid #aaa;
  background-color: #E7E0DA;
  padding-bottom: 10px;
}

#news{
  grid-row: 4/5;
  margin: 0%;
  border: .3px solid #aaa;
  background-color: #E7E0DA;
  padding-bottom: 10px;
}

.spotlights{
  grid-row: 5/6;
  margin: 0%;
  border: .3px solid #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  background-color: #E7E0DA;
  font-size: 18px;
}

picture img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 4px #717070;
}

picture img.in {
  animation: img-come-in 1s;
}

@keyframes img-come-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

table{
  border: 1px solid black;
  border-collapse: collapse;
}

td,th {
  border: 1px solid black;
  padding: 10px;
}

.spotlights p{
  padding-top: 20px;
}

.spotlights h2{
  font-size: 25px;
  padding-top: 5px;
}

.s1{
  border: 1px solid#B6A290;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 0px #B6A290;
  padding-bottom: 10px;
}

.s2{
  margin-top:  0%;
  border: 1px solid #B6A290;
  background-color: white;
 width: 100%;
  height: 100%;
  box-shadow: 2px 2px 0px #B6A290;
  padding-bottom: 10px;
}

.s3{
  border: 1px solid#B6A290;
  display: none;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 0px #B6A290;
}

.businessLogo{
  margin-top: 15px;
}



footer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: #2B2828;
  color: white;
  border-top: 3px solid white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  font-size: 18px;
}

footer a{
  text-decoration: none;
  color: white;
}

#footer-logo{
  align-self: center;
}

#footer-tittle{
  font-size: 30px;
  color: #E6994F;
  text-shadow: none;
  margin: 0%;
}

#last-name{
    margin: 0%;
}

#info a {
  text-decoration: none;
  color: wheat;
}

#footer-info{
  border-top: solid .5px #333;
  grid-column: 1/4;
  grid-row: 2/3;
}

.link {
  margin: 2rem 0 3rem 0;
}

.link a {
  text-decoration: none;
  background-color:#F4F5F5;
  color: black;
  padding: .5em 1em .5em 1em;
  border-radius: .1em;
  transition: .4s;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,p{
  margin: 0 2vw;
}

nav{
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #2B2828;
  transition: .4s;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
}

nav ul{
  list-style-type: none;
  padding: 10px;
  margin:0;
  text-align: center;
  justify-content: center;
}

nav button{
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav ul li a{
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: white;
  border-top: 1px solid rgba(0,0,0,0.5);
  font-size: 20px;
}

nav ul li.active a {
  background-color: rgba(230, 153, 79,0.3);
}

nav ul li a:hover{
  background-color: #837198;
  color: white;
}

nav ul{
  display: none;
}

nav ul.open {
  display: block;
}

#hamburguerBtn span:nth-child(1){
  display: block;
  align-self:flex-start
}

#hamburguerBtn span:nth-child(2){
  display: none;
}

#hamburguerBtn.open span:nth-child(1){
  display: none;
}

#hamburguerBtn.open span:nth-child(2){
  display: block;
}

/*-----------------DISCOVER PAGE-----------------------*/

discover-container{
  color: #443535;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
  row-gap: 50px;
  margin: 60px;
}

.discover-container img{
  align-self: center;
}

.discover-container h1{
  font-size: 25px;
}

.discover-container h2{
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 40px;
}

.discover-container h3{
  /*text-shadow: #ffffff;*/
  padding-bottom: 10px;
}

.discover-container p{
  padding-top: 10px;
  padding-bottom: 10px;
}

.div1{
  grid-column: 1/2;
  grid-row: 2/3;
  border: 1px solid #B6A290;
  box-shadow: 3px 3px 0px #B6A290;
  margin: 1em;
  text-align: center  ;
  height: min-content;
  background-color: #d6ccc26d;
}

.div2{
    grid-column: 2/3;
    grid-row: 2/3;
}

.div3{
  grid-column: 1/2;
  grid-row: 3/4;
}

.div4{
  grid-column: 1/3;
  grid-row: 4/5;
  text-align: left;
}

.div5{
  grid-column: 2/3;
  grid-row: 3/4;
}

.div5 img {
  width: 90%;
}

.div7{
  grid-column: 1/2;
  grid-row: 7/8;
}

.div8{
  grid-column: 1/2;
  grid-row: 5/6;
}

.div9{
  grid-column: 2/3;
  grid-row: 5/6;
}

.div10{
  grid-column: 2/3;
  grid-row: 7/8;
}

.div6{
  grid-column: 1/3;
  grid-row: 9/10;
}


.div1 img:hover,
.div2 img:hover,
.div3 img:hover,
.div4 img:hover,
.div5 img:hover,
.div6 img:hover,
.div7 img:hover,
.div8 img:hover,
.div9 img:hover,
.div10 img:hover,
.div11 img:hover,
.div12 img:hover {
  transform: scale(1.1);
  transition: 1.3s;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12 {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #B6A290;
  box-shadow: 3px 3px 0px #B6A290;
  margin: 1em;
  text-align: center  ;
  background-color: #d6ccc26d;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

thead {
  background-color:  #2B2828;
  color: white;
}

thead th {
  background-color: #E6994F;
}

tr:first-child th .highlight {
  background-color: #2B2828;
}

tr:nth-child(even) {
  background-color: #e6984f59;
}

/*-----------------THANK YOU PAGE-----------------------*/

.thanks{
  display: block;
}

.tyContainer{
  color:white;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1rem;
  border: var(--border-white);
  border-radius: 4px;
}

.thankyouH1 {
  text-align: center;
  width: 100%;
  border-radius: 3px;
  padding: 1em;
  background: #837198;
  border: 1px solid white;
  color: white;

}

.thankyouP {
  color: #2B2828;
  width: 100%;
  font-size: 20px;
  text-align: center;
  border: var(--border-white);
  padding: 3em;
}

/*Directory*/
.directoryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  text-align: center;
  grid-template-rows: auto;
}

.flexContainerCardCompany {
  margin: 0 1em 1em 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  color:#2B2828;
  box-shadow: 5px 5px 0px #a18abc;
  border: 1px solid #837198;
}

.flexContainerCardCompany p {
  color: #2B2828;
}

.h2Directory {
  color: #4d4a4a;
  font-size: 1.5em;
  padding: 1em;
  margin: 1em;
  width: 100%;
  text-align: center;
}

.h3Directory {
  font-style: normal;
  background-color: #ededed;
  text-shadow: none;
  text-transform: none;
  color: #555;
  width: 100%;
  border-radius: 3px;
  border-left: 0;
}

.divAddress,
.divPhone {
  border-radius: 3px;
  border: 2px solid #ededed;;
  text-align: center;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.divPhone {
  margin-top: 1em;
}

.divPhone p {
  color: #5D3C1F;
}

.buttonsContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: row;
}

.customList {
  color: #2B2828;
  text-align: center;
  border: var(--border-white);
  border-radius: 3px;
  margin: 1em;
  list-style: none;
  transition: 1.3s;
  padding-inline-start: 0;
  padding: 1em;
}

.imgDirectory {
  max-width: 100px;
  background-color: white;

}

.customList li {
  display: block;
  margin: 1em;
}

.h2DirectoryList {
  font-size: 1.1em;
  font-weight: bolder;
}

.imgDirectoryList {
  display: none;
}

.hidden {
  display: none;
}

.sectionContact {
  margin-top: 1em;
  text-align: center;
  border: 2px solid #837198;
  box-shadow: 5px 5px 0px #837198;
  border-radius: 4px;
  margin: 1em;
  text-align: left;
  height: min-content;
}

.sectionContact h4 {
  margin: 0.75em;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0.5em;
}

.contactH1 {
  padding: 0.75em;
  border-radius: 3px;
  margin-bottom: 0.75em;
  color:#6f4724;
  font-size: 40px;
  margin-top: 10px;
}

.fieldsetContact {
  padding-bottom: 1em;
}

iframe {
  width: 150px;
  height: 150px;
}

/*discovery*/

main div section {
  padding: 1em;
  text-align: left;
}

.redReminder {
  color: red;
  font-weight: bolder;
}

.formContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  background-color: white;
  border-radius: 3px;
  flex-direction: column;
  padding-right: 1rem;
  padding-bottom: 1em;
  grid-column: 1/2;
  grid-row: 2/3;
}

.formContainerContact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  background-color: white;
  border-radius: 3px;
  flex-direction: column;
  padding-right: 1em;
  padding-bottom: 1em;
}

.mainJoin,
.mainDirectory {
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 0.75em;
  border: 2px solid white;
}

.mainJoin {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.mainDirectory {
  background-color: white;
  display: grid;
  grid-template-rows: auto;
}

.mainContact {
  display: flex;
  flex-direction: column;
}

.joinH1 {
  color:#6f4724;
  letter-spacing: normal;
  border-radius: 3px;
  padding: 1em;
  text-transform: uppercase;
  font-size: 40px;

}

.directoryH1 {
  color:#6f4724;
  letter-spacing: normal;
  border-radius: 3px;
  padding: 1em;
  text-transform: uppercase;
  font-size: 40px;
  margin: 1em 1em 0 1em;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  grid-row: 1/2;
  grid-column: 2/3;
}

.buttonsContainer{
  grid-row: 2/3;
  grid-column: 2/3;
}

.directoryContainerList, .directoryContainer{
  grid-row: 3/4;
  grid-column: 1/4;
}

.directoryContainerList{
  display: none;
}

#card-button,
#list-button {
  align-self: center;
  font-weight: bold;
  text-align: center;
  line-height: 2%;
  border-radius: 3px;
  color: white;
  margin: 1em;
  padding: 1em;
}

#list-button {
  margin: 1em 1em 1em 0;
}

.formGrid {
  display: block;
}

.formGridContact{
  display: block;
}

.legend {
  color: white;
  font-weight: bold;
  background-color: #5D3C1F;
  padding: 0.75em;
  margin: 0.75em;
  border: 1px solid #837198;
  border-radius: 3px;
  box-shadow: 5px 5px 0px #837198;
  width: 90%;
  text-align: center;
}

.legendContact {
  background-color: #5D3C1F;
  color: white;
  font-weight: bold;
  padding: 0.75em;
  margin: 0.75em;
  border: 1px solid #837198;
  border-radius: 3px;
  box-shadow: 5px 5px 0px #837198;
  width: 90%;
  text-align: center;
}

.contactH2 {
  font-weight: bold;
  padding: 0.75em;
  border-radius: 3px;
  margin-bottom: 0.75em;
  color: #E6994F;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 20px;
}

form {
  width: 100%;
}

form fieldset {
  margin: 10px;
  border: 1px solid #837198;
  background-color: #AC9886;
}

fieldset {
  width: 95%;
}

form label {
  display: block;
  color: white;
  font-weight: bolder;
  font-size: 0.9em;
  margin: 1em;
}

input {
  display: block;
  font-size: 1rem;
  border: 1px solid #837198;
  border-radius: 4px;
  padding: 0.75rem;
  color: #837198;
  width: 100%;
  max-width: 45rem;
  background-color: #f2f2f2;
}

textarea {
  color: #5D3C1F;
  margin-left: 1em;
  width: 90%;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #837198;
}

.no100 {
  display: inline-block;
  width: fit-content;
  margin-right: 1em;
  width: 1em;
}

.subs {
  font-weight: normal;
  padding: 1em;
  border: var(--border-white);
  border-radius: 3px;
}

:checked + span {
  font-weight: bold;
  transform: var(--my-transform);
  transition: 0.5s;
}

.mySubmit {
  align-self: center;
  width: auto;
  border: 1.5px solid #785b9a;
  color: #2B2828;
  font-weight: bold;
  
  margin: 1em;
  text-transform: uppercase;
}

.mySubmit:hover{
  color: #2B2828;
  background-color: #fdad67;
  border: solid 2px #E6994F;
}

input:required {
  border-left: red solid 3px;
}

input:valid {
  border-left: green solid 3px;
}

.memberships {
  background-color: white;
  margin-top: 1em;
  padding: 0;
  grid-column: 2/3;
  grid-row: 1/2;
}

.memberships div {
  border: 2px solid #837198;
  box-shadow: 5px 5px 0px #837198;
  border-radius: 4px;
  margin: 1em;
  text-align: left;
  height: min-content;
}

.memberships div h2,
.memberships div h3,
.memberships div p {
  padding: 0.5em;
}

.memberships div p {
  color: #2B2828;
  /*ext-shadow: #555;*/
  font-weight: 300;
}

.memberships div h3 {
  border: none;
  color: #785b9a;
  padding-left: 30px;
  font-size: 16px;
  padding-top: 0%;
  margin-top: 0%;
  text-shadow: none;
}

.memberships div h2 {
  text-shadow: none;
  text-align: left;
  font-weight: bolder;
  margin-left: 0;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.tyContainer {
  margin-top: 0.75em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: var(--border-white);
  border-radius: 3px;
  padding: 1em;
}

.thankyouH1 {
  text-align: center;
  width: 100%;
  border-radius: 3px;
  padding: 1em;
  border: 1px solid white;
}

.thankyouP {
  width: 100%;
  font-size: large;
  text-align: center;
  border: var(--border-white);
  padding: 1em;
}

#ty-button{
  width: max-content;
}

.visitPage {
  font-weight: bolder;
  margin-top: 1em;
  padding: 0.75rem;
}
