

body{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(0, 0, 0);
}


h2{
   text-align: center;

}

header{
    display: flex;
    align-content: center;

    text-align: center;
    background-color: #03979D;
}
#tittle{
  margin-top: 50px;
}
section h3{
    font-style: italic;
    margin: 0%;
}
#header-logo,#footer-logo{
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin: 30px;
    margin-right: 0;
 
}

#facebook-logo,#linkedin-logo{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
 
}
footer{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color: #aaa;
    color: black;
    border-top: 3px solid white;

}


.link {
    margin: 2rem 0 3rem 0;
    
}

.link a {
    text-decoration: none;
    background-color:#F4F5F5;
    color: black;
    padding: .5em 1em .5em 1em;
    border-radius: .1em;
    transition: background-color .4s;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1,p{
    margin: 0 2vw;
}

nav{
    background-color:#03979D;
    transition: background-color .4s;
    margin: 30px;

}
nav ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}
nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}


nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

nav ul{
    display: none;
}

nav ul.open {
    display: block;
}

#hamburguerBtn span:nth-child(1){display: block;}
#hamburguerBtn span:nth-child(2){display: none;}

#hamburguerBtn.open span:nth-child(1){display: none;}
#hamburguerBtn.open span:nth-child(2){display: block;}
