@media  only screen and (max-width: 700px){
    h2,p{
        font-size: medium;
    }

    h1{
        font-size: large;
        text-align: center;

    }

    #list{
        font-size: medium;
        margin-left: 10px;

    }

    main{
       grid-template-columns: auto;
    }
    header{
        display: block;
  
    }
    #profile-picture{
        
        border-radius: 50%;
    padding:auto;
    margin-left:0;
    }
}