

body{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(45, 28, 5);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    margin-right: 0%;
}
h2{
    align-items: center;
    text-align: center;
}
#profile-picture{
    border-radius: 50%;
    justify-content: center;
    margin-top: 40px;


}
header{
    display:grid;
    grid-template-rows: min-content;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    background-color:#03979D;
    border-right: 3px solid white;
}

#list{

    margin-top: 30px;
    list-style: none;
    display: flex;
    align-items: left;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    align-items: left;
    color:rgb(28, 24, 24);
}
footer{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color: #aaa;
    color: black;
    block-size: 100px;
    border-top: 3px solid white;

}
li{
    padding: 20px;
    list-style: none;
    align-items: stretch;
}



