

body{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(45, 28, 5);
}


h2{
   text-align: center;
    
}
#profile-picture{
    border-radius: 50%;
    padding: 30px;
    justify-self: right;


}
header{
    display: grid;
    text-align: center;
    background-color: #03979D;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-around;
}

ul{
    margin: 0;
    padding: 0;
}

#list{
    padding: 40px;
    list-style: none;
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    color:rgb(28, 24, 24);
}
footer{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color: #aaa;
    color: black;
    block-size: 100px;
    border-top: 3px solid white;

}
li{
    font-size: 25px;
    list-style: none;
    align-items: stretch;
    padding: 20px;
}



