body{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Cormorant Garamond', serif;
    background-color: 1E0D35;
    color: rgb(45, 28, 5);
    margin: 0 auto;
    margin-bottom: 0%;
    padding-bottom: 0%;

}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 10%;
}
#profile-picture{
    border-radius: 50%;
}
#avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: EACA6D;
    width: 40%;
    height: 20%;
    border-radius: 0.1em;
    margin-top: 5%;
}
#list{
    list-style: none;
    display: flex;
    align-items: left;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    
    border-radius: 0.1em;
    padding: 2%;
    margin: 0.5%;
    text-align: left;
    justify-content: space-between;
    align-items: left;
    color:rgb(28, 24, 24);
}
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    background-color: EACA6D;
    color: black;
    height: 100px;
    
}
li{
    margin-top: 10%;
    padding: 20px;
   background-color: EACA6D;
    border-style: outset;
    border-radius: 5px;
    list-style: none;
    align-items: flex-start;
}

img{
    max-width: 100%;
    display: block;
}

