@media  only screen and (max-width: 930px){
    h2,p,li{
        font-size: medium;
    }

    h1{
        font-size: large;
        text-align: center;

    }

    #list{
        font-size: medium;
        padding: 0;

    }

    main{
       grid-template-columns: auto;
    }
    header{
        display: block;
        margin: 0%;
    }

    li{
    padding: 10px;
    }

    #profile-picture{
    width: 120px;
    height: 120px;
    border-radius: none;
    padding:10px;
    margin-top: 5px;
    justify-self: center
    }
    body {
  margin-right: 100px;
  margin-left: 100px;

}
}